# Godot 4+ specific ignores
/android/
/.godot/
/.vs/
/console-extension/
/Console Extension src/
/godot-cpp/
/.idea/
/bin/
Deezn't Code.*
rcedit-x64.exe
*.dll
*.tmp
*.obj
*.exp
*.lib
*.import
*.os
*.uid
main.exe
main.obj
export_presets.cfg
.sconsign.dblite

